<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330603402786-haq8m8prmqmm124s3gic85r5j6j7mm5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330603402786-haq8m8prmqmm124s3gic85r5j6j7mm5r</string>
	<key>API_KEY</key>
	<string>AIzaSyDoVGRjnXzL8z1au5MQmZ3F8p4U0f7fDzg</string>
	<key>GCM_SENDER_ID</key>
	<string>330603402786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameroom</string>
	<key>PROJECT_ID</key>
	<string>gameroom-2ee8e</string>
	<key>STORAGE_BUCKET</key>
	<string>gameroom-2ee8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330603402786:ios:52f177b6b2a53abe405c7b</string>
</dict>
</plist>